@page
@model BlazorServer.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}

@* <h1>@ViewData["Title"]</h1>
<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-control"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-control"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div> *@


<div class="container">
    <div class="row align-items-center justify-content-center" style="height: 70vh;">
        <div class="col-lg-4 col-md-5 col-sm-8 col-xl-4 ">
            <div class="div-login">
                <form id="account" method="post">
                    <div class="pb-2 text-center">
                        <h3>Title System</h3>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="pt-3">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="pt-3">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="pt-3">
                        <button id="login-submit" type="submit" class="w-100 btn btn-primary">Entrar</button>
                    </div>
                </form>
                <div class="text-center pt-3">
                    <a class="btn btn-link" style="font-size:12px;width:100%;padding-bottom:0">Registrar</a>
                    <a class="btn btn-link" style="font-size:12px;width:100%">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    // document.getElementById('account').addEventListener('submit', function (event) {
    //     event.preventDefault(); // Evita o comportamento padrão do formulário (envio tradicional)

    //     let formData = new FormData(this); // Obtém os dados do formulário

    //     fetch('https://localhost:7210/Identity/Account/Login', {
    //         method: 'POST',
    //         body: formData
    //     })
    //         .then(response => {
    //             // Tratar a resposta da requisição, se necessário
    //             console.log('Requisição enviada com sucesso!', response);
    //             if (response.redirected)
    //                 window.location = response.url;

    //             // window.location.href = '/categories';
    //         })
    //         .catch(error => {
    //             // Tratar possíveis erros de requisição
    //             console.error('Erro ao enviar requisição:', error);
    //         });
    // });


    function teste() {
        alert('Teste');
    }
</script>