@page
@model BlazorServer.Areas.Identity.Pages.Account.LoginModel


@{
    ViewData["Title"] = "Login";
}


<div class="container">
    <div class="row align-items-center justify-content-center" style="height: 70vh;">
        <div class="col-lg-4 col-md-5 col-sm-8 col-xl-4 ">
            <div class="div-login">
                <form id="account" method="post">
                    <div class="pb-2 text-center">
                        <h3>Title System</h3>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="pt-3">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="pt-3">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="pt-3">
                        <button id="login-submit" type="submit" class="w-100 btn btn-primary">Entrar</button>
                    </div>
                </form>
                <div class="text-center pt-3">
                    <button href="Identity/Account/Register" onclick="redirectRegister()" class="btn btn-link" style="font-size:12px;width:100%;padding-bottom:0">Registrar</button>
                    <a class="btn btn-link" style="font-size:12px;width:100%">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function redirectRegister(){
        window.location.href = '/Identity/Account/Register';
    }
</script>