

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <a href="Identity/Account/Logout">LOGOUT</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">REGISTER</a>
        @* <a href="Identity/Account/Login">LOGIN</a> *@
        <a href="login">LOGIN</a>
    </NotAuthorized>
</AuthorizeView>
