/*.valid.modified:not([type=checkbox]) {
    outline: none !important;
}*/

*:focus {
    box-shadow: none !important;
}

.notification-inputs{
    color:red;
}

.div-login {
    padding: 20px;
    box-shadow: 1.7px 2.1px 18.8px rgba(0, 0, 0, 0.024),4.8px 5.9px 52.1px rgba(0, 0, 0, 0.035),11.5px 14.2px 125.4px rgba(0, 0, 0, 0.046),38px 47px 416px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}