@inject NavigationManager Navigation
@inject IJSRuntime js

<div style="display:flex;align-items:center;justify-content:space-between;margin:1rem;border-bottom: .1rem solid #000">
    <div>
        <h1>Framework Default</h1>
    </div>
    <div style="margin-bottom:15px">
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
            </svg>
        </a>
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Crud</h5>
        <a href="#" data-bs-dismiss="offcanvas" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5" />
            </svg>
        </a>
    </div>
    <div class="offcanvas-body">
        <button @onclick="Teste" style="cursor:pointer">Inicio</button>
    </div>
</div>


@code {
    // Ver como executa javascript no blazor SSR , e tentar executar as classes para fechar o canvas corretamente
    private async Task Teste()
    {
        // await js.InvokeVoidAsync("closeOffcanvas");
        await js.InvokeVoidAsync("alert", "Testando JS");

    }
}